body
{
    background-color: #fafafa;
    font-family: sans-serif;
    font-weight: 700;
}

/* NAVIGATION */

.logo-scale
{
    width: 84.87975px;
    height: 96px;
}

.head-custom-nav #navbarNav .navbar-nav .nav-item .nav-link
{
    color: #00202A;
    padding: 25px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 1s cubic-bezier(0.785, 0.135, 0.15, 0.85);
}

.head-custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover
{
    color: #3FA9F5;
}

.dropdown-item
{
    text-transform: uppercase;
}

/* HOME */

.custom-section
{
    width: inherit;
    padding: 40px 0;
}

.col-lg-8
{
    top: 2.5rem;
    left: -5rem;
}

.col-lg-8 h1
{
    color: #00202a;
    font-weight: 200;
    font-size: 70px;
}

.col-lg-8 h2
{
    font-weight: 200;
    font-size: 62px;
    border-radius: 0px;
    color: white;
    background-image: linear-gradient(to right, #3FA9F5, #662D91);
    padding: 10px;
    margin-bottom: 30px;
    width: 625px;
    text-align: center;
}

.col-lg-8 p
{
    color: #00202a;
    font-weight: 500;
    font-size: 28px;
    text-align: justify;
    line-height: 32px;
    letter-spacing: 1px;
}

.col-lg-8 a
{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-image: linear-gradient(to right, #3FA9F5, #662D91);
    border: none;
    outline: none;
    margin-top: 30px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.85);
    text-decoration: none;
}

.col-lg-8 a:hover
{
    border: 3px solid #3FA9F5;
    background-image: none;
    background-color: white;
    color: #3FA9F5;
    text-underline-position: 0;
}

.col-lg-4 img
{
    width: 100%;
    position: absolute;
    top: -12.5rem;
    right: -10%;
}